<% if work.favorited_by?(current_user) %>
  <p>
    <%= link_to work_work_favorites_path(work), method: :delete, class: "text-warning", remote: true do %>
      <i class="fa-solid fa-star"></i><%= work.work_favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to work_work_favorites_path(work), method: :post, class: "text-secondary", remote: true do %>
      <i class="fa-regular fa-star"></i><%= work.work_favorites.count %>
    <% end %>
  </p>
<% end %>