<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="d-flex form-group">
    <%= f.select :range, options_for_select({ "選択してください": "", "Keyword": "1", "Work Tag": "2" }, { selected: @range }), class: "form-control-sm input-group-prepend" %>
    <%= f.text_field :word, value: @word, placeholder: "キーワードを入力", class: "form-control-sm input-group-prepend" %>
    <%= button_tag type: "submit",class: "btn btn-sm btn-primary" do %>
      <i class="fas fa-search"></i>検索
    <% end %>
  </div>
<% end %>
