<div class="works">
  <%= render "public/works/index", works: @works %>
</div>
<% unless @works.blank? %>
  <%= link_to_next_page @works, "もっと見る", params: { type: :work }, remote: true, class: "btn btn-outline-success btn-block more-link", id: "more-work" %>
<% end %>
