<div class="container p-3">
  <div class="row">
    <div class="col-12">
      <p  class="alert alert-danger">
        エラーが発生しました。<br>
        原因にお心当たりがない場合はシステム運営者までご連絡ください。
      </p>
    </div>
  </div>
</div>