<div class="modal-header mb-3">
<h5 class="modal-title">Notification</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<% notifications = unchecked_notifications.where.not(visitor_id: current_user.id) %>

<!--未確認通知を表示-->
<% if @unchecked_notifications.any? %>
  <%= render "notification", notifications: @unchecked_notifications %>
<% end %>

 <!--確認済み通知を表示-->
  <% if @checked_notifications.any? %>
    <%= render "notification", notifications: @checked_notifications %>
  <% end %>

 <!--通知が一つもない場合の表示-->
<% if @unchecked_notifications.empty? && @checked_notifications.empty? %>
  <p class="alert alert-dark">通知はありません</p>
<% end %>